.Button{
    background-color: #8BB8D9;
    border-radius: 8px;
    border:none;
    width:100%;
    font-size: 25px;
    box-shadow: 0 10px 10px 0 #e1ebf3;
    color: white;
    margin-top: 15px;
    padding:2%;
    border:0.5px solid #8BB8D9;
}

.Button:hover{
    background-color: #b1d9f5;
}

.div{
    width:100%;
}

.input{
    border-radius: 8px;
    padding:2%;
    width:95%;
    font-size: 25px;
    border:0.5px solid #8BB8D9;
    margin-top: 15px;
}

.input:focus{
    background-color: #eeeeee;
    box-shadow: 0 5px 5px 0 #e1ebf3;
    border: none;
    outline: none;
}

img{
    width:20%;
}

.login{
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}